.itens {
	position: relative;
	display: inline;
	float: left;
	padding: 0 0 10px 2px;
}

.foto_item {
	display: inline-block;
	cursor: pointer;
}

.nome_item {
	display: inline-block;
	cursor: pointer;
}